@import "src/sass/_Variables";

.about-container {
  background-color: rgba(254, 163, 40, 0.3);
  height: 100vh;
  margin: 0 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 96px 110px auto 150px;
  justify-items: center;
}

@media only screen and (max-width: 600px) {
  .about-container {
    height: 100%;
  }
}

@media only screen and (max-height: 800px) {
  .about-container {
    height: 100%;
  }
}