@import "src/sass/_Variables";

.about-content {

  font-font: $primary-font;
  font-size: 20px;
  color: $primary;
  font-weight: 400;
  line-height: 27px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  p {
    width: 80vw;
    text-align: center;
    margin: 0;
    padding: 0px 0px 18px 0px;

    a {
      color: $Quartiary;
      list-style-type: none;
      font-family: $primary-font;
      text-decoration: none;
      font-size: 20px;
      font-weight: 700;
    }
    a:hover{
      color: #FFFFFF;
    }
    a:focus{
      color: #FFFFFF;
    }
  }
}